@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #1e202b;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 79%;
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/

/* breadcrum styling starts here */

.breadcrum ul {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 26px;
  border-radius: 50px;
  background: #262936;
}

.breadcrum ul li {
  margin-right: 30px;
  position: relative;
}

.breadcrum ul li a {
  color: #a6bbbb;
  font-size: 12px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.breadcrum ul li:nth-child(1)::after {
  content: '';
  width: 100px;
  height: 50px;
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 42px;
  background: url('../Images/images/arrow-gray.png') no-repeat;
  color: #939b9b;
}

.breadcrum ul li a:hover { color: #fff; }
.breadcrum ul li:nth-child(2) a { font-weight: 600; }

/* breadcrum styling ends here */

/* photos styling starts here */

.photos .wrapper {
  padding: 34px 0 44px 0;
  margin: 34px auto 44px auto;
}

.photos ul,
.photos ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
}

.photos ul { grid-gap: 25px; }

.photos ul li figure,
.photos ul li figure img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.photos ul li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
  background: #262936;
}

.photos ul li .photo-content { padding: 20px 25px 0 15px; }

.photos ul li h2 {
  padding-bottom: 10px;
  color: #fff;
  font-size: 15px;
}

.photos ul li p {
  color: #8da0a0;
  font-size: 13px;
  line-height: 19px;
}

.photos .stars {
  width: 20px;
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.photos .stars li {
  width: 1px;
  margin-right: -12px;
  position: relative;
  text-indent: -9999px;
}

.photos .stars li::after {
  content: '\f005';
  color: #009ad8;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  text-indent: 0;
}

.photos .stars li:nth-child(5)::after {
  color: #1e202b;
  font-size: 14px;
}

/* photos styling ends here */

/*=================================
main styling ends here
=================================*/

/*media query starts*/

