@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 79%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/


header { background-color: #1e202b; }

header .wrapper {
  padding: 43px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo, 
.logo h1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.logo h1 { 
  margin-left: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo h1 a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: .5px;
}

.logo h1 small {
  color: #aebbbb;
  font-size: 10px;
  letter-spacing: -.5px;
}

.logo figure { width: 34%; }
.logo figure img { width: 100%; }

nav ul { 
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}

nav ul li { margin: 0 4px; }

nav ul li a {
  padding: 5px 24px;
  border: 2px solid #1e202b;
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

nav ul li a:hover, 
nav ul li a.active { 
  border: 2px solid #009ad8;
  color: #009ad8;
}

#menu { display: none; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner {
  height: 325px;
  position: relative;
}

.banner figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.banner figure img {
  width: 100%;
  height: 100%;
}

.banner form,
footer .fContent form {
  width: 100%;
  padding-top: 65px;
}

.banner form div,
footer .fContent form div {
  width: 99%;
  padding: 5px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #1e202b;
}

.banner form div input,
footer form div input { 
  width: 100%; 
  padding: 14px;
  border: none;
  border-radius: 50px;
  background: #1e202b;
  color: #aebbbb;
  font-weight: 600;
  font-size: 13px;
  outline: none;
}

.banner form div input:focus,
footer form div input:focus,
.banner form div input:active,
footer form div input:active { background: #1e202b; }

.banner form div button,
footer form div button {
  padding: 10px 37px;
  border: none;
  border-radius: 50px;
  background: #009ad8;
  color: #fff;
  font-size: 13px;
  outline: none;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner form div button:hover,
footer form div button:hover { background: #2fb9f0; }

/* banner styling ends here */

/* city detail styling starts here */

.city {
  height: 240px;
  position: relative;
  background-color: #1e202b; 
}

.city .wrapper {
  width: 39%;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  top: -54%;
  right: 0;
  left: 0;
  background: #323544;
  overflow: hidden;
}

.city .city-body .sorry {
  color: #fff;
  font-weight: 600;
  font-size: 56px;
  text-align: center;
}

.city-body { padding: 30px 20px; }

.city-body p {
  color: #a6bbbb;
  font-weight: 600;
  font-size: 16px;
}

.city-body > span {
  margin: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.city-body > span  h2 {
  color: #fff;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 2px;
}

.city-body > span figure {
  width: 16%;
  margin-left: 35px;
}

.city-body ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.city-body ul li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a6a6a6;
  font-weight: 600;
  font-size: 13px;
}

.city-body ul li img {
  width: 37%;
  margin-right: 6px;
}

.city-head {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #2d303d;
  color: #a6bbbb;
  font-weight: 600;
  font-size: 13px;
}

/* city detail styling ends here */

/* cameras styling starts here */

.cameras { background-color: #1e202b; }
.cameras .wrapper { padding-bottom: 95px; }

.cameras h2 { 
  margin-bottom: 20px;
  color: #fff;
  font-size: 32px;
}

.cameras ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.cameras ul li figure { position: relative; }
.cameras ul li figure img:first-child { border-radius: 6px; }

.cameras ul li figure img:nth-child(2) {
  width: 12%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 43%;
  right: 43%;
  left: 43%;
  bottom: 43%;
}

.cameras ul li h3 {
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
}

.cameras ul li small {
  color: #a6bbbb;
  font-size: 10px;
}

/* cameras styling ends here */

/* articles styling starts here */

.articles { background: #262936; }
.articles .wrapper { padding: 65px 0; }

.articles .wrapper ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 26px 1fr 26px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 26px;
}

.articles li { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.articles li span { 
  margin-right: 30px; 
  color: #009ad8;
  font-size: 24px;
}

.articles li h2,
.articles li p {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .8px;
}

.articles li p {
  margin-bottom: 0;
  color: #a6bbbb;
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0;
}

/* articles styling ends here */




/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 






 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

