@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 79%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/


header { background-color: #1e202b; }

header .wrapper {
  padding: 43px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo, 
.logo h1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.logo h1 { 
  margin-left: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo h1 a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: .5px;
}

.logo h1 small {
  color: #aebbbb;
  font-size: 10px;
  letter-spacing: -.5px;
}

.logo figure { width: 34%; }
.logo figure img { width: 100%; }

nav ul { 
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}

nav ul li { margin: 0 4px; }

nav ul li a {
  padding: 5px 24px;
  border: 2px solid #1e202b;
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

nav ul li a:hover, 
nav ul li a.active { 
  border: 2px solid #009ad8;
  color: #009ad8;
}

#menu { display: none; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner {
  height: 325px;
  position: relative;
}

.banner figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.banner figure img {
  width: 100%;
  height: 100%;
}

.banner form,
footer .fContent form {
  width: 100%;
  padding-top: 65px;
}

.banner form div,
footer .fContent form div {
  width: 99%;
  padding: 5px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #1e202b;
}

.banner form div input,
footer form div input { 
  width: 100%; 
  padding: 14px;
  border: none;
  border-radius: 50px;
  background: #1e202b;
  color: #aebbbb;
  font-weight: 600;
  font-size: 13px;
  outline: none;
}

.banner form div input:focus,
footer form div input:focus,
.banner form div input:active,
footer form div input:active { background: #1e202b; }

.banner form div button,
footer form div button {
  padding: 10px 37px;
  border: none;
  border-radius: 50px;
  background: #009ad8;
  color: #fff;
  font-size: 13px;
  outline: none;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner form div button:hover,
footer form div button:hover { background: #2fb9f0; }

/* banner styling ends here */

/* city detail styling starts here */

.city {
  height: 240px;
  position: relative;
  background-color: #1e202b; 
}

.city .wrapper {
  width: 39%;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  top: -54%;
  right: 0;
  left: 0;
  background: #323544;
  overflow: hidden;
}

.city .city-body .sorry {
  color: #fff;
  font-weight: 600;
  font-size: 56px;
  text-align: center;
}

.city-body { padding: 30px 20px; }

.city-body p {
  color: #a6bbbb;
  font-weight: 600;
  font-size: 16px;
}

.city-body > span {
  margin: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.city-body > span  h2 {
  color: #fff;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 2px;
}

.city-body > span figure {
  width: 16%;
  margin-left: 35px;
}

.city-body ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.city-body ul li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a6a6a6;
  font-weight: 600;
  font-size: 13px;
}

.city-body ul li img {
  width: 37%;
  margin-right: 6px;
}

.city-head {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #2d303d;
  color: #a6bbbb;
  font-weight: 600;
  font-size: 13px;
}

/* city detail styling ends here */

/* cameras styling starts here */

.cameras { background-color: #1e202b; }
.cameras .wrapper { padding-bottom: 95px; }

.cameras h2 { 
  margin-bottom: 20px;
  color: #fff;
  font-size: 32px;
}

.cameras ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.cameras ul li figure { position: relative; }
.cameras ul li figure img:first-child { border-radius: 6px; }

.cameras ul li figure img:nth-child(2) {
  width: 12%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 43%;
  right: 43%;
  left: 43%;
  bottom: 43%;
}

.cameras ul li h3 {
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
}

.cameras ul li small {
  color: #a6bbbb;
  font-size: 10px;
}

/* cameras styling ends here */

/* articles styling starts here */

.articles { background: #262936; }
.articles .wrapper { padding: 65px 0; }

.articles .wrapper ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 26px 1fr 26px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 26px;
}

.articles li { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.articles li span { 
  margin-right: 30px; 
  color: #009ad8;
  font-size: 24px;
}

.articles li h2,
.articles li p {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .8px;
}

.articles li p {
  margin-bottom: 0;
  color: #a6bbbb;
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0;
}

/* articles styling ends here */

/* info styling starts here */

.info { background: #1e202b; }
.info .wrapper { padding: 68px 0; }

.info .wrapper > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.info .wrapper > ul > li h2 {
  padding-bottom: 20px;
  color: #fff;
  font-size: 34px;
}

.features ul { padding-left: 25px; }
.features li { margin-bottom: 15px; }

.features li h3 { 
  margin-bottom: 20px;
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .6px;
}

.features li h3::before,
.analysis li::before {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: -25px;
  background: url('../Images/images/arrow.png') no-repeat;
}

.features li p {
  color: #a6bbbb;
  font-size: 13px;
  line-height: 18px;
}

.analysis ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.analysis li {
  padding: 11px 0 11px 25px;
  border-bottom: 1px solid #353636;
  position: relative;
  color: #a6bbbb;
  font-size: 13px;
}

.analysis li:last-child { border: none; }

.analysis li::before {
  top: 14px;
  left: 3px;
}

.awesome ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.awesome ul li, 
.awesome ul li img {
  width: 100%;
  height: 100%;
}

/* info styling ends here */

/* video styling starts here */

.video {
  width: 100%;
  display: none;
  position: relative;
}

.video .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
  background: #000000b3;
}

#closeVid {
  padding: 2px 8px;
  margin-left: 55%;
  position: relative;
  bottom: 20px;
  background: #aebbbb;
  font-family: 600;
  cursor: pointer;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

#closeVid:hover {
  background: #666;
  color: #fff;
}

video {
  width: 50%;
  z-index: 20;
}

/* video styling ends here */

/* toggleBtn styling starts here */

#toggleBtn {
  display: flex;
  width: 100%;
  height: 0;
  position: relative;
  text-indent: -9999px;
}

#toggleBtn::after {
  content: '\f106';
  padding: 6px 12px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #000;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 22px;
  opacity: .3;
  cursor: pointer;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

#toggleBtn:hover::after { opacity: .8; }
.none {display: none;}

/* toggleBtn styling ends here */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 


footer { background-color: #262936; }
footer .wrapper { padding: 50px 0 60px 0; }

footer .fContent {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: -10;
}

footer .fContent form { 
  width: 65%;
  padding-top: 0;
  margin-right: 12%;
}

footer .fContent form button { padding: 10px 18px }

.fContent ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.fContent ul li {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 5px;
  background: #1e202b;
}

footer .fContent ul li a {
  padding: 8px 12px;
  color: #009ad8;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

footer .fContent ul li a:hover { color: #666; }

footer .wrapper span {
  color: #a6bbbb;
  font-size: 14px;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .wrapper { width: 90%; }
  .info .wrapper ul li h2 { font-size: 30px; }
  nav ul { margin-bottom: 0; }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  header .wrapper { padding: 15px 0; }
  .city .wrapper { width: 60%; }

  .cameras ul { 
    -ms-grid-columns: (1fr); 
    grid-template-columns: repeat(2, 1fr); 
  }

  .articles .wrapper > ul,
  .info .wrapper > ul { 
    -ms-grid-columns: 1fr; 
    grid-template-columns: 1fr; 
  }

  .info .wrapper ul li h2 { font-size: 30px; }
  footer { text-align: center; }

  footer .fContent {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .fContent form { margin-right: 0; }

  #menu {
    padding: 10px 12px;
    border: 2px solid #1e202b;
    border-radius: 50%;
    display: initial;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
  }

  #menu.active {
    border: 2px solid #009ad8;
    color: #009ad8;
  }

  nav {
    margin: 0 auto;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    background: #1e202b;
    z-index: 30;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    z-index: 10;
  }

  nav.showMenu {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .hidden { overflow: hidden; }

  nav ul {
    width: 90%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #262936;
    overflow: hidden;
  }

  nav ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #666;
    text-align: center;
  }

  nav ul li:last-child { border: none; }

  nav ul li a,
  nav ul li a:hover {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 0;
    color: #a6bbbb;
    font-weight: 600;
    text-align: center;
  }

  nav ul li a.active {
    border: none;
    color: #009ad8;
    background: #3e4358;
  }

  nav ul li a:hover {
    background: #3e4358;
    color: #2fb9f0;
  }

  #closeVid { margin-left:  85%}
  video { width: 80%; }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .banner form div button { padding: 10px 30px; }
  footer .fContent form { width: 100%; }
  .fContent form div button { padding: 5px 15px; }
  .city .wrapper { width: 90%; }
  .cameras ul { justify-items: center; }

  footer .fContent { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; 
  }

  .city-body span { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: start; 
    -ms-flex-align: start; 
    align-items: flex-start;
  }

  .city-body > span figure { 
    width: 30%;
    margin-left: 0;
  }
  
  .cameras ul { 
    -ms-grid-columns: 1fr; 
    grid-template-columns: 1fr; 
  }

  .fContent ul { margin-top: 20px; }

  nav ul li a:hover {
    border: none;
    color: #a6bbbb;
    background: #262936;
  }

  nav ul li a.active:hover { 
    color: #009ad8; 
    background: #3e4358;
  }

  #closeVid { 
    padding: 0 6px;
    bottom: 8px; 
    font-size: 12px;
  }

  #closeVid:hover { 
    background: #aebbbb;
    color: #000; 
  }
  
  #toggleBtn:hover::after { opacity: .3; }
  .banner form div button:hover,
  footer form div button:hover { background: #009ad8; }
  footer .fContent ul li a:hover { color: #009ad8; }
}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  video { width: 90%; }
}